*,
::before,
::after {
    box-sizing: border-box;
      border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    padding: 0;
    margin: 0;

}


body {
    background-color: black;
    cursor: pointer;
    margin: 0;
    line-height: inherit;
}

@font-face {
    font-family: "CustomFont";
    src: url("/extras/BigShouldersDisplay-Regular.ttf") format("truetype");
}

.sideTitle {
    display: flex;
    flex-direction: column;
    top: 2rem;
    left: 2rem;
    position: fixed;
    z-index: 1000;
}

.sideTitleName {
    color: white;
    --tw-text-opacity: 1;
    font-family: "CustomFont", sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    transform: scaleY(1.3);
}

.sideTitleInfo {
    color: rgb(107, 114, 128);
    --tw-text-opacity: 1;
    font-family: Iceland, sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
}
